{% extends '::base.html.twig' %}

{% block title %}Streetwork-Runden{% endblock %}
{% block content %}
    <div class="swapp-headline-container">
        <h1>
            Streetwork-Runden
        </h1>
    </div>
    <div class="mb1 inline-block clearfix">
        <select name="Team" class="s-select-team rounded-left btn-outline blue mxn1">
            {% for team in teams %}
                <option value={{ team.getId }}>{{ team.getName }}</option>
            {% else %}
                <option value="Keinem Team zugeordnet">Keinem Team zugeordnet</option>
            {% endfor %}
        </select>
        {% if teams|length %}
            <a class="btn btn-primary rounded-right s-select-team-link"
                href="{{ path('start_walk_with_walk_prologue', { 'teamId': teams|first.getId}) }}"
                data-test="create-walk">Runde beginnen</a>
        {% endif %}
    </div>
    <div class="right">
        <a class="btn btn-primary px1" href="{{ path('walk_export') }}">
            Runden exportieren
        </a>
        <a href="{{ path('tag_home_screen') }}" class="btn btn-primary px1">Tags</a>
    </div>

    <div class="">
        <table class="table-light">
            <thead>
            <tr>
                <th>
                    <a class="btn{{ (order == 'name') ? ' btn-' }} btn-outline" href="{{ path('walk_home_screen', { 'order': 'name', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}">Name</a>
                </th>
                <th>
                    <a class="btn{{ (order == 'rating') ? ' btn-primary' }} btn-outline" href="{{ path('walk_home_screen', { 'order': 'rating', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}">Bewertung</a>
                </th>
                <th>
                    <a class="btn{{ (order == 'startTime') ? ' btn-primary' }} btn-outline" href="{{ path('walk_home_screen', { 'order': 'startTime', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}">Beginn</a>
                </th>
                <th>
                    <a class="btn{{ (order == 'endTime') ? ' btn-primary' }} btn-outline" href="{{ path('walk_home_screen', { 'order': 'endTime', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}">Ende</a>
                </th>
                <th>
                    <a class="btn{{ (order == 'teamName') ? ' btn-primary' }} btn-outline" href="{{ path('walk_home_screen', { 'order': 'teamName', 'sort': sort == 'asc' ? 'desc' : 'asc' }) }}">Team</a>
                </th>
                <th>
                    <a class="btn{{ (order == 'isResubmission') ? ' btn-primary' }} btn-outline" href="{{ path('walk_home_screen', { 'order': 'isResubmission', 'sort': (sort == 'asc') ? 'desc' : 'asc' }) }}">WV DB</a>
                </th>
                <th class="right-align">Detailansicht</th>
            </tr>
            </thead>
            <tbody>
            {% for walk in walks %}
                <tr>
                    <td>{{ walk.getName }}</td>
                    <td>{{ walk.getRating }}</td>
                    <td>{{ walk.getStartTime|localizeddate('short', 'short') }}</td>
                    <td>{{ walk.getEndTime|localizeddate('short', 'short') }}</td>
                    <td>{{ walk.teamName }} </td>
                    <td>{% if walk.isResubmission == 1 %} ja
                        {% else %} nein
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary sm-col-right"
                           href="{{ path('walk_show', { 'walkId': walk.getId }) }}">
                            Runde ansehen</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Es wurden noch keine Runden angelegt.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
