{% extends '::base.html.twig' %}

{% block content %}
    <div class="swapp-headline-container">
        <h1>
            Streetwork-Runde: {{ walk.getName }}
        </h1>
    </div>
    <div class="swapp-password-change-container">
        <div class="mb1">
            <a href="{{ path('walk_home_screen') }}" class="btn btn-primary">zur Rundenübersicht</a>
        </div>
    </div>

    {{ include('@App/Walk/showItem.html.twig', {'key': 'Name', 'value': walk.getName }, with_context = false) }}

    {{ include('@App/Walk/showPersonsMale.html.twig', {'walk': walk}, with_context = false) }}
    {{ include('@App/Walk/showPersonsFemale.html.twig', {'walk': walk}, with_context = false) }}
    {{ include('@App/Walk/showPersons.html.twig', {'walk': walk}, with_context = false) }}

    {{ include('@App/Walk/showItem.html.twig', {'key': 'Tageskonzept', 'value': walk.getConceptOfDay }, with_context = false) }}
    {{ include('@App/Walk/showItem.html.twig', {'key': 'Ferien', 'value': walk.getHolidays ? 'ja' : 'nein'}, with_context = false) }}
    {{ include('@App/Walk/showItem.html.twig', {'key': 'Wetter', 'value': walk.getWeather }, with_context = false) }}
    {{ include('@App/Walk/showItem.html.twig', {'key': 'Beginn', 'value': walk.getStartTime|localizeddate('long', 'medium') }, with_context = false) }}
    {{ include('@App/Walk/showItem.html.twig', {'key': 'Ende', 'value': walk.getEndTime|localizeddate('long', 'medium') }, with_context = false) }}
    {{ include('@App/Walk/showItem.html.twig', {'key': 'Systemische Frage', 'value': walk.getSystemicQuestion }, with_context = false) }}
    {{ include('@App/Walk/showItem.html.twig', {'key': 'Systemische Antwort', 'value': walk.getSystemicAnswer }, with_context = false) }}
    {{ include('@App/Walk/showItem.html.twig', {'key': 'Reflexion', 'value': walk.getWalkReflection }, with_context = false) }}
    {{ include('@App/Walk/showItem.html.twig', {'key': 'Bewertung', 'value': walk.getRating }, with_context = false) }}
    {{ include('@App/Walk/showItem.html.twig', {'key': 'Termine, Besorgungen, Verabredungen', 'value': walk.commitments}, with_context = false) }}
    {{ include('@App/Walk/showItem.html.twig', {'key': 'Erkenntnisse, Überlegungen, Zielsettungen', 'value': walk.insights }, with_context = false) }}
    {{ include('@App/Walk/showItem.html.twig', {'key': 'Wiedervorlage Dienstberatung', 'value': walk.isResubmission ? 'ja' : 'nein'}, with_context = false) }}

    {{ include('@App/Walk/showTeamMembers.html.twig', {'walk': walk}, with_context = false) }}
    {{ include('@App/Walk/showGuests.html.twig', {'walk': walk}, with_context = false) }}

    {{ include (':WayPoint:wayPointOverview.html.twig', { 'wayPoints': walk.getWayPoints }, with_context = false) }}

{% endblock %}
