<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, width=device-width">
        <title>{% block title %}Swapp!{% endblock %}</title>
        {% block meta_description %}{% endblock %}
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block javascripts %}
            {% if app.environment == "dev" %}
                <script src="{{ asset('webpack-dev-server.js') }}"></script>
            {% endif %}
            <script src="{{ asset('js/bootstraploader.bundle.js') }}"></script>
            <script src="{{ asset('/js/global.bundle.js') }}"></script>
        {% endblock %}
        {% block content %}
        {% endblock %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="bold border-top p1 block clearfix">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary right bg-aqua" href="{{ path('easyadmin') }}">
                        Backend
                    </a>
                {% endif %}
                <a class="btn btn-primary right bg-red" href="{{ logout_path('main') }}">
                    Logout ({{ app.getUser.getUsername }})
                </a>
            </div>
        {% endif %}

    </body>
</html>
