<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Swapp!{% endblock %}</title>
        {% block meta_description %}{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-info" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="ml-1 mr-1 mt-1">
            {% block content %}

            {% endblock %}
        </div>

        <footer class="footer fixed-bottom">

            <div class="form-row align-items-center float-right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="col-xs-6 mt-3 ml-1">

                            <a class="input-group input-group-sm" href="{{ path('easyadmin') }}">

                                <div class="btn btn-primary form-control">
                                    Backend
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="ion ion-md-cog"></i></div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    <div class="col-xs-6 mt-3">
                        <a class="input-group input-group-sm" href="{{ logout_path('main') }}">
                            <button class="btn btn-primary form-control">
                                Logout ({{ app.getUser.getUsername }})
                            </button>
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="ion ion-md-log-out"></i></div>
                            </div>
                        </a>
                    </div>
                {% endif %}
                {#<div class="col-sm-auto my-1 small">#}
                    {#<span class="">Copyright &copy; {{ 'now'|date('Y') }}</span> swapp - Die StreetWorkAPP#}
                {#</div>#}
            </div>
        </footer>

    </body>
</html>
