<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, width=device-width">
        <title>{% block title %}Swapp!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block content %}{% endblock %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="bold border-top p1 block clearfix">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary right bg-aqua" href="{{ path('easyadmin') }}">
                        Backend
                    </a>
                {% endif %}
                <a class="btn btn-primary right bg-red" href="{{ logout_path('main') }}">
                    Logout ({{ app.getUser.getUsername }})
                </a>
            </div>
        {% endif %}
        {% block javascripts %}
            <script src="/js/global.js"></script>
        {% endblock %}
    </body>
</html>
