<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
    <head>
        <link type="application/manifest+json" rel="manifest" href="/build/manifest.json">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% if is_device('iOS') and device_version('iOS', 'float') < 11.3 %}
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-title" content="Swapp">
        {% endif %}
        {% if is_device('iOS') and device_version('iOS', 'float') < 15.4 %}
            <meta name="apple-mobile-web-app-status-bar-style" content="black">
        {% endif %}
        {% if is_device('iOS') and device_version('iOS', 'float') < 15.4 %}
            {# from https://realfavicongenerator.net/ #}
            <link rel="apple-touch-icon" sizes="57x57" href="/build/images/icons/apple-touch-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="/build/images/icons/apple-touch-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="/build/images/icons/apple-touch-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="/build/images/icons/apple-touch-icon-76x76.png">
        {% endif %}
        <link rel="apple-touch-startup-image" sizes="76x76" href="/build/images/icons/apple-touch-icon-76x76.png">

        <link rel="icon" type="image/png" sizes="32x32" href="/build/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/build/images/icons/favicon-16x16.png">
        <link rel="mask-icon" href="/build/images/icons/safari-pinned-tab.svg" color="#1c97b0">
        <link rel="shortcut icon" href="/build/images/icons/favicon.ico">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-config" content="/build/images/icons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <meta name="mobile-web-app-capable" content="black-translucent">
        <meta name="apple-mobile-web-app-title" content="Swapp">
        <meta name="application-name" content="Swapp">
        <meta name="msapplication-TileColor" content="#2d89ef">

        <title>{% block title %}Swapp!{% endblock %}</title>

        {% if 'test' == app.environment %}
            <script type="text/javascript">
                window.jsErrors = []; window.jsWarns = []; window.jsLogs = [];
                window.onerror = function(error, url, line) {
                    window.jsErrors.push('[Uncaught error]: ' + error + '; Line: ' + line);
                };

                if (!console) var console = {};
                var _privateError = console.error;
                console.error = function() {
                    window.jsErrors.push('[Console error]: ' + JSON.stringify(arguments)); _privateError.apply(console, arguments);
                }

                var _privateWarn = console.warn;
                console.warn = function() {
                    window.jsWarns.push('[Console warn]: ' + JSON.stringify(arguments)); _privateWarn.apply(console, arguments);
                }

                var _privateLog = console.log;
                console.log = function() {
                    window.jsLogs.push('[Console log]: ' + JSON.stringify(arguments)); _privateLog.apply(console, arguments);
                }
            </script>
        {% endif %}

        {% block meta_description %}{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock body %}

        {% block javascripts %}
            <script>
                {{ nelmio_js_error_logger('ERROR', false) }}
                {{ nelmio_js_logger('nelmioLog', false) }}
            </script>
            {{ encore_entry_script_tags('app') }}
            <script type="application/javascript">
                const params = {};
                new window.App(params);
            </script>
        {% endblock %}
    </body>
</html>
