{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Anmeldung</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px">
                    <a href="{{ path('fos_user_resetting_request') }}">Passwort vergessen?</a>
                </div>
            </div>
            <div class="panel-body">

                <small class="text-muted">Verbinde dich mit Swapp über Facebook</small>
                <p>
                    <a class="btn btn-primary social-login-btn social-facebook" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}"><i class="fa fa-facebook"></i></a>
                </p>

                <div class="or-text">
                    <div class="or-text-row">
                        <div class="or-text-line">
                            <button type="button" class="btn btn-default btn-circle" disabled="disabled">oder</button>
                        </div>
                    </div>
                </div>

                {% if error %}
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12">{{ error.messageKey|trans( [], 'security') }}</div>
                {% endif %}
                <form class="form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="col-sm-12 form-group">
                        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input autofocus placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"
                               class="form-control login-input"
                               type="text"
                               id="username"
                               name="_username"
                               value="{{ last_username }}"
                               required="required" />
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}
                        </label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control login-input-pass"
                                   placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"
                                   type="password"
                                   id="password"
                                   name="_password"
                                   required="required" />
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="input-group">
                            <div class="checkbox">
                                <label class="" for="remember_me">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 controls">
                            <input class="btn btn-lg btn-primary btn-block btn-center" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                        </div>
                    </div>
                    <div class="">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                            Noch kein Account?
                            <a href="{{ path('fos_user_registration_register') }}">
                                Hier registrieren!
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
