{# ageGroup \AppBundle\Value\AgeGroup #}
{% extends 'base.html.twig' %}

{% block title %}Wegpunkt Detailansicht{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="h5 mb-0">
                Wegpunkt: {{ wayPoint.getLocationName }}
            </h1>
        </div>

        <div class="card-body pl-1 pr-1 pb-2">
            {{ include('walk/showItem.html.twig', {'key': 'Ort', 'value': wayPoint.getLocationName }) }}
            {% for ageGroup in wayPoint.ageGroups %}
                {{ include('walk/showItem.html.twig', {
                    'key': ageGroup.ageRange.rangeStart ~ '-' ~ ageGroup.ageRange.rangeEnd ~ ageGroup.gender.gender,
                    'value': ageGroup.peopleCount.count })
                }}
            {% endfor %}
            {{ include('walk/showItem.html.twig', {'key': 'Beobachtung', 'value': wayPoint.getNote }) }}

            {% set image %}
                {% if wayPoint.getImageName %}
                    <img src="{{ vich_uploader_asset(wayPoint, 'imageFile') }}" alt="{{ wayPoint.getImageName }}" style="max-width:100%;max-height:400px;width: auto;height: auto;" />
                {% else %}
                    kein Bild hochgeladen
                {% endif %}
            {% endset %}
            {{ include('walk/showItem.html.twig', {'key': 'Bild', 'value': image }) }}
            {{ include('walk/showItem.html.twig', {'key': 'Meeting', 'value': wayPoint.getIsMeeting ? 'ja' : 'nein' }) }}
        </div>
    </div>
{% endblock %}

{% block footer_back_href -%}
    javascript:history.back();
{%- endblock %}
