{% extends 'base.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="h5 mb-0">
                Streetwork-Runde: {{ walk.getName }}
            </h1>
        </div>

        <div class="card-body pl-1 pr-1 pb-2">
            {{ include('walk/showItem.html.twig', {'key': 'Name', 'value': walk.getName }, with_context = false) }}

            {{ include('walk/showPersonsMale.html.twig', {'walk': walk}, with_context = false) }}
            {{ include('walk/showPersonsFemale.html.twig', {'walk': walk}, with_context = false) }}
            {{ include('walk/showPersons.html.twig', {'walk': walk}, with_context = false) }}

            {{ include('walk/showItem.html.twig', {'key': 'Tageskonzept', 'value': walk.getConceptOfDay }, with_context = false) }}
            {{ include('walk/showItem.html.twig', {'key': 'Ferien', 'value': walk.getHolidays ? 'ja' : 'nein'}, with_context = false) }}
            {{ include('walk/showItem.html.twig', {'key': 'Wetter', 'value': walk.getWeather }, with_context = false) }}
            {{ include('walk/showItem.html.twig', {'key': 'Beginn', 'value': walk.getStartTime|localizeddate('long', 'medium') }, with_context = false) }}
            {{ include('walk/showItem.html.twig', {'key': 'Ende', 'value': walk.getEndTime|localizeddate('long', 'medium') }, with_context = false) }}
            {{ include('walk/showItem.html.twig', {'key': 'Systemische Frage', 'value': walk.getSystemicQuestion }, with_context = false) }}
            {{ include('walk/showItem.html.twig', {'key': 'Systemische Antwort', 'value': walk.getSystemicAnswer }, with_context = false) }}
            {{ include('walk/showItem.html.twig', {'key': 'Reflexion', 'value': walk.getWalkReflection }, with_context = false) }}
            {{ include('walk/showItem.html.twig', {'key': 'Bewertung', 'value': walk.getRating }, with_context = false) }}
            {{ include('walk/showItem.html.twig', {'key': 'Termine, Besorgungen, Verabredungen', 'value': walk.commitments}, with_context = false) }}
            {{ include('walk/showItem.html.twig', {'key': 'Erkenntnisse, Überlegungen, Zielsetzungen', 'value': walk.insights }, with_context = false) }}
            {{ include('walk/showItem.html.twig', {'key': 'Wiedervorlage Dienstberatung', 'value': walk.isResubmission ? 'ja' : 'nein'}, with_context = false) }}

            {{ include('walk/showTeamMembers.html.twig', {'walk': walk}, with_context = false) }}
            {{ include('walk/showGuests.html.twig', {'walk': walk}, with_context = false) }}

            <hr>

            {{ include ('way_point/wayPointOverview.html.twig', { 'wayPoints': walk.getWayPoints }, with_context = false) }}
        </div>
    </div>

{% endblock %}

{% block footer_back_href %}
    {{- path('walk_home_screen') -}}
{% endblock %}
