{% extends '::base.html.twig' %}
{% block title %}{{ 'walk.form.headline'|trans }}{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="h5 mb-0">
                {{ 'walk.form.headline'|trans }}
            </h1>
        </div>
        <div class="card-body pl-1 pr-1 pb-2">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.conceptOfDay) }}
            {{ form_row(form.startTime) }}
            {{ form_row(form.endTime) }}
            {{ form_row(form.holidays) }}
            {{ form_row(form.weather) }}
            {{ form_row(form.systemicQuestion) }}
            {{ form_row(form.systemicAnswer) }}
            {{ form_row(form.walkReflection) }}
            {{ form_row(form.rating) }}
            {{ form_row(form.commitments) }}
            {{ form_row(form.insights) }}
            {{ form_row(form.isResubmission) }}

            <div class="input-group input-group-sm">
                <button class="btn btn-block btn-primary form-control"
                        type="submit" formaction="{{ path('walk_create', {'walkId': walk.id}) }}" data-test="create-walk"
                >
                    Runde abschließen
                </button>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="ion ion-md-checkmark"></i></span>
                    <span class="input-group-text"><i class="ion ion-md-walk"></i></span>
                </div>
            </div>

            {{ form_end(form) }}

            <hr>

            {{ include (':WayPoint:wayPointOverview.html.twig', {'key': 'waypoints', 'value': wayPoints }) }}
        </div>
    </div>
{% endblock %}
