{% extends '::base.html.twig' %}

{% block title %}Streetwork-Runden{% endblock %}
{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="swapp-headline-container">
        <h1>
            Streetwork-Runden
        </h1>
    </div>
    <div class="mb1">
        <select name="Team" class="btn-outline blue">
            {% for team in teams %}
                <option value={{ team.getName }}>{{ team.getName }}</option>
            {% else %}
                <option value="Keinem Team zugeordnet">Keinem Team zugeordnet</option>
            {% endfor %}
        </select>
        <a href="{{ path('walk_createform') }}" class="btn btn-primary">Runde beginnen</a>
        <a href="tag" class="btn btn-primary sm-col-right">Tags</a>
    </div>

    <div class="">
        <table class="table-light">
            <thead>
            <tr>
                <th>Name</th>
                <th>Bewertung</th>
                <th>Beginn</th>
                <th>Ende</th>
                <th class="sm-col-right">Detailansicht</th>
            </tr>
            </thead>
            <tbody>
            {% for walk in walks %}
                <tr>
                    <td>{{ walk.getName }}</td>
                    <td>{{ walk.getRating }}</td>
                    <td>
                        {{ walk.getStartTime|localizeddate('short', 'short') }}
                    </td>
                    <td>
                        {{ walk.getEndTime|localizeddate('short', 'short') }}
                    </td>
                    <td>
                        <a class="btn btn-primary sm-col-right" href="{{ path('walk_show', { 'id': walk.getId }) }}">Runde
                            ansehen</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Es wurden noch keine Runden angelegt.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
